In [415]:
import pandas as pd
import datetime as dt
from sqlalchemy import create_engine
import sys

In [416]:
_start = dt.datetime.now()
dt.datetime.now().strftime("%Y-%m-%d %H:%M:%S")

'2023-05-29 17:36:44'

In [417]:
def pipeline_peformance(x):
    _end = dt.datetime.now()
    difference = _end - x
    x_ms = str(round(difference.total_seconds() * (10 ** 3),2)) + ' ms'
    print(x_ms)

In [418]:
conf_source = 'mysql+pymysql://username:password@ipaddress:port/dbname'
conf_destination = 'postgresql://username:password@ipaddress:port/dbname'
table_name = 'transaction_table'
unique_constraint_column = 'transaction_id'
sync_date = 'write_date' #dtu, write_date

In [419]:
# source
con_source = create_engine(conf_source)

# destination
connect_dest = create_engine(conf_destination)
con_dest = connect_dest.connect()

In [420]:
# last write_date
last_write_date = con_source.execute('SELECT MAX(write_date) FROM {}'.format(table_name)).scalar()
ld = "'"+str(last_write_date)+"'"

In [421]:
df = pd.read_sql_query(''' 

    SELECT 
    
    *
    
    FROM {}
    WHERE {} >= {}
    
'''.format(table_name,sync_date,ld),con_source)

In [422]:
# stop
if len(df) == 1:
    pipeline_peformance(_start)
    sys.exit()

In [423]:
# # error handling (optional)
# - 
# - 
# - 
# -

In [424]:
df.head()

,id,create_uid,write_uid,bank_id,bank_id_ent,bank_name,company_id,description_code,create_date,write_date
0,81,None,None,157,157-1,BANK MASPION,1,,2023-02-08 10:29:37.483573,2023-03-15 14:59:41
1,1,None,None,014,014-1,BANK BCA,1,SWITCHING CR TRANSFER DR|TRSF E-BANKING CR 04/...,2023-02-08 10:29:37.483573,2023-03-15 14:59:42
2,151,None,None,11X,11X-1,Lainnya,1,,2023-02-08 10:29:37.483573,2023-03-15 14:59:40

In [429]:
table_str = tuple(df.columns)
excluded_str = list(map(lambda i, j: str(i) + '=' + "EXCLUDED." + str(j), df.columns, df.columns))
excluded_str = str(excluded_str)[1:-1]
s_str = '('+str(len(df.columns) * '%s,')[:-1]+')'

xx=0
for row in df.itertuples(index=False):
    con_dest.execute('''INSERT INTO {}{} VALUES{} ON CONFLICT ({})
                             DO
                             UPDATE
                             SET{}
                             
                             '''.format(table_name,table_str,s_str,unique_constraint_column,excluded_str).replace("'"," "),
                          (row))
    xx += 1
print('Query OK, {} row affected'.format(xx))

Query OK, 10000 row affected

In [428]:
pipeline_peformance(_start)

13521.55 ms